{"filter":false,"title":"requirements.txt","tooltip":"/terraform/lambda_package/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":16},"end":{"row":0,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":12,"mode":"ace/mode/text"}},"hash":"338ebfdc49b21eca668b65312a71f4d66240712f","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":0},"action":"insert","lines":["requests==2.32.3","pandas==2.2.2","pyarrow==16.1.0",""],"id":1}],[{"start":{"row":0,"column":0},"end":{"row":3,"column":0},"action":"remove","lines":["requests==2.32.3","pandas==2.2.2","pyarrow==16.1.0",""],"id":2},{"start":{"row":0,"column":0},"end":{"row":0,"column":16},"action":"insert","lines":["requests==2.32.3"]}]]},"timestamp":1754668145549}